section.about#about
    .about-title
        h3.heading.heading--large.about-heading Digital products that people love to use
        p.text.about-desc Applying behavioral science to customer experience
    .container
        .about-sections
            .about-section
                .about-section-image
                    img(srcSet="assets/images/about-1.png")
                .about-section-content
                    h3.heading.heading--large.about-section-heading Web3 Experience Design
                    p.text.about-section-desc In the new digital era, users are in control of content and community, and experience design is essential.
                    ul.about-section-list
                        li.about-section-item
                            img(srcSet="assets/icons/icon-design.png")
                            .about-section-item-content
                                h5.heading.heading--small.about-section-item-title Design & Development Systems
                                p.text.text--small.about-section-item-desc Chat, start meetings or join them with a click from within your conversation.
                        li.about-section-item
                            img(srcSet="assets/icons/icon-design.png")
                            .about-section-item-content
                                h5.heading.heading--small.about-section-item-title Design & Development Systems
                                p.text.text--small.about-section-item-desc Chat, start meetings or join them with a click from within your conversation.
                        li.about-section-item
                            img(srcSet="assets/icons/icon-design.png")
                            .about-section-item-content
                                h5.heading.heading--small.about-section-item-title Design & Development Systems
                                p.text.text--small.about-section-item-desc Chat, start meetings or join them with a click from within your conversation.
            .about-section
                .about-section-content
                    h3.heading.heading--large.about-section-heading We create world-class products
                    p.text.about-section-desc In the new digital era, users are in control of content and community, and experience design is essential.
                    p.text.about-section-desc Our full‑stack design and development agency based in San Francisco provides front‑end and back‑end development services working closely with our designers. As a UX UI and app development company, we build native mobile apps for iOS and Android, web applications, apps for wearables, and B2B/enterprise software.
                    a.button.about-button Discover now
                .about-section-image
                    img(srcSet="assets/images/about-2.png")
            .about-section
                .about-section-image
                    img(srcSet="assets/images/about-3.png")
                .about-section-content
                    h3.heading.heading--large.about-section-heading UI/UX design and branding agency
                    p.text.about-section-desc We start each new digital product design partnership with an in‑depth discovery phase to immerse ourselves in your business. Our UX/UI designers interview stakeholders, conduct user research, analyze your competition, and consolidate content.
                    p.text.about-section-desc The result is an action plan on executing a holistic brand and user experience.
                    a.button.about-button Our services

