.cta
    img.cta-shapes(srcSet="assets/images/cta-bg-shapes.png", alt="shapes")
    .container
        .cta-content
            h3.heading.heading--large.cta-heading We design & develop transformative user experiences from Silicon Valley
            p.text.cta-desc Are you ready to start your project? Contact us today and get started!
            a.button.cta-button Get started
