.hero
    .container.hero-container
        .hero-content
            h1.heading.heading--biggest.hero-heading Branding to fuel your growth
                span &nbsp;goals & ideas.
            p.text.hero-desc We're a digital product and UX agency in San Francisco. Strategy, design, and development across all platforms.
            .hero-links
                a.button.hero-started(href="#") Get started
                a.hero-play
                    span.hero-play-icon
                        img(src="assets/icons/icon-play.png", alt="play")
                    span.hero-play-text How It Works
        .hero-image
            img(srcSet="assets/images/avatar.png", alt="girl")