*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #7B88A8;
  background-color: white;
  font-weight: 400;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  all: unset;
  background-color: #4F77FF;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
  font-family: "Outfit";
  border-radius: 5px;
  width: fit-content;
}
.button:hover {
  background-color: #1c50ff;
}

.heading {
  color: #2D3958;
  font-weight: 500;
  font-family: "Outfit";
}
.heading--biggest {
  font-size: 72px;
  line-height: 1.0833333333;
}
.heading--bigger {
  font-size: 64px;
  line-height: 1.125;
}
.heading--big {
  font-size: 48px;
  line-height: 1.1666666667;
}
.heading--large {
  font-size: 42px;
  line-height: 1.1904761905;
}
.heading--normal {
  font-size: 36px;
  line-height: 1.2777777778;
}
.heading--medium {
  font-size: 24px;
  line-height: 1.4166666667;
}
.heading--small {
  font-size: 18px;
  line-height: 1.5555555556;
}

.text {
  font-size: 18px;
  line-height: 1.5555555556;
}
.text--small {
  font-size: 16px;
  line-height: 1.5;
}
.text--xsmall {
  font-size: 14px;
  line-height: 1.5714285714;
}

.header {
  background-color: #F7F5F1;
  padding: 16px 0 230px;
  position: relative;
}
.header-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-shapes {
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-scroll {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}
.header-scroll-inner {
  border-radius: 100rem;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9C45C;
  animation: bounced 1s linear infinite alternate;
}
.header-scroll-inner:hover {
  animation: none;
  background-color: #f7b22b;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #2D3958;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Outfit";
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}
.menu-link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #7B88A8;
  font-size: 15px;
  font-weight: 500;
  font-family: "Outfit";
}
.menu-link:hover {
  color: #2D3958;
}

.tools {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button-signup {
  padding: 0 38.5px;
  height: 48px;
}

@keyframes bounced {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}
@media screen and (max-width: 1023.98px) {
  .header {
    padding-bottom: 80px;
  }
  .button-signup {
    display: none;
  }
  .menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    z-index: 20;
    background-color: #292F3A;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    transition: all 0.2s linear;
    transform: translateX(100%);
  }
  .menu-link {
    padding: 10px;
    color: white;
  }
  .menu-link:hover {
    color: #4F77FF;
  }
}
.hero {
  margin-top: 88px;
  position: relative;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-content {
  max-width: 800px;
  width: 100%;
}
.hero-heading {
  margin-bottom: 40px;
}
.hero-heading span {
  background-image: linear-gradient(91.79deg, #857fff 32.21%, #ffc0ec 83.79%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.hero-desc {
  margin-bottom: 70px;
  width: 80%;
}
.hero-links {
  display: flex;
  gap: 10px;
}
.hero-started {
  padding: 16px 32px;
}
.hero-play {
  display: flex;
  align-items: center;
  gap: 7px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.6;
  font-family: "Outfit";
  color: #2D3958;
}
.hero-play-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background-color: #FFFFFF;
  border-radius: 100rem;
  box-shadow: 0px 5px 20px rgba(18, 2, 47, 0.15);
}
.hero-play-icon img {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1023.98px) {
  .hero-container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }
  .hero-heading {
    text-align: center;
  }
  .hero-desc {
    text-align: center;
    width: 100%;
  }
  .hero-links {
    justify-content: center;
  }
}
.services {
  margin-top: 100px;
  text-align: center;
}
.services-content {
  max-width: 1000px;
  margin: 0 auto;
}
.services-heading {
  margin-bottom: 30px;
}
.services-desc {
  margin-bottom: 80px;
  letter-spacing: -0.3px;
}
.services-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
}
.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 35px 60px;
  max-width: 370px;
  max-height: 300px;
  gap: 20px;
  border: 1px solid rgba(97, 119, 152, 0.2);
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
  transition: all 0.2s linear;
  margin-bottom: 40px;
}
.services-item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.4);
}
.services-icon {
  width: 60px;
  height: 60px;
}
.services-title {
  margin-bottom: 10px;
  color: #2D3958;
  font-family: "Outfit";
  font-weight: 400;
  font-size: 22px;
  line-height: 1.4545454545;
}
.services-desc {
  margin-bottom: 40px;
  color: #7B88A8;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.services-link {
  margin: 0 auto;
  padding: 0px 32px;
  height: 48px;
}

@media screen and (max-width: 1023.98px) {
  .services {
    padding: 80px 0;
  }
}
@media screen and (max-width: 767.98px) {
  .services-heading {
    font-size: 32px;
    line-height: 1.5;
  }
  .services-list {
    flex-direction: column;
    gap: 30px;
  }
  .services-item {
    margin-bottom: 30px;
  }
}
.logos {
  margin-top: 120px;
  text-align: center;
}
.logos-container {
  max-width: 915px;
  margin: 0 auto;
  width: 100%;
}
.logos-heading {
  color: black;
  margin-bottom: 80px;
}
.logos-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 105px;
  width: 100%;
}

@media screen and (max-width: 1023.98px) {
  .logos-heading {
    margin-bottom: 50px;
  }
  .logos-list {
    flex-wrap: wrap;
    gap: 70px;
  }
}
@media screen and (max-width: 767.98px) {
  .logos-heading {
    font-size: 32px;
    line-height: 1.5;
  }
  .logos-list {
    gap: 50px;
  }
}
.about {
  background-color: #F7F5F1;
  margin-top: 120px;
}
.about-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px;
}
.about-heading {
  margin-bottom: 30px;
  margin-top: 120px;
}
.about-button {
  margin-top: 70px;
  padding: 0 32px;
  height: 56px;
}
.about-sections {
  display: flex;
  flex-direction: column;
  gap: 150px;
}
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
}
.about-section-content {
  max-width: 570px;
  width: 100%;
}
.about-section-heading {
  margin-bottom: 30px;
  color: black;
}
.about-section-desc {
  margin-bottom: 50px;
  text-align: justify;
}
.about-section-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-section-item {
  display: flex;
  align-items: flex-start;
  gap: 13px;
}
.about-section-item-title {
  margin-bottom: 10px;
}

@media screen and (max-width: 1023.98px) {
  .about-title {
    margin: 80px;
  }
  .about-heading {
    margin-top: 80px;
  }
  .about-button {
    width: 90%;
    margin: 0 auto;
  }
  .about-sections {
    gap: 100px;
  }
  .about-section {
    flex-direction: column;
    gap: 50px;
  }
  .about-section:nth-child(2) {
    flex-direction: column-reverse;
  }
  .about-section:last-child {
    margin-bottom: 80px;
  }
  .about-section-content {
    max-width: 100%;
  }
  .about-section-image {
    max-width: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .about-title {
    margin: 50px;
  }
  .about-heading {
    margin-top: 50px;
    font-size: 32px;
    line-height: 1.5;
  }
  .about-button {
    width: 90%;
    margin: 0 auto;
  }
  .about-sections {
    gap: 50px;
  }
  .about-section {
    flex-direction: column;
    gap: 50px;
  }
  .about-section:nth-child(2) {
    flex-direction: column-reverse;
  }
  .about-section:last-child {
    margin-bottom: 50px;
  }
  .about-section-content {
    max-width: 100%;
  }
  .about-section-image {
    max-width: 100%;
  }
}
.portfolio {
  margin-top: 120px;
}
.portfolio-heading {
  margin-bottom: 100px;
  text-align: center;
}
.portfolio-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 50px 30px;
}
.portfolio-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #4F77FF;
}
.portfolio-item:first-child {
  grid-column: 1/span 7;
}
.portfolio-item:nth-child(2) {
  grid-column: 8/-1;
}
.portfolio-item:nth-child(3) {
  grid-column: 1/span 5;
}
.portfolio-item:last-child {
  grid-column: 6/-1;
}
.portfolio-image {
  width: 150%;
  height: 100%;
  object-fit: cover;
}
.portfolio-title {
  color: #4F77FF;
}

@media screen and (max-width: 1023.98px) {
  .portfolio-list {
    grid-template-columns: repeat(6, 1fr);
  }
  .portfolio-item:first-child {
    grid-column: 1/span 6;
  }
  .portfolio-item:nth-child(2) {
    grid-column: 1/span 6;
  }
  .portfolio-item:nth-child(3) {
    grid-column: 1/span 6;
  }
  .portfolio-item:last-child {
    grid-column: 1/span 6;
  }
}
.cta {
  background-color: #F7F5F1;
  margin-top: 120px;
  position: relative;
  padding-top: 106px;
  padding-bottom: 106px;
}
.cta-shapes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
}
.cta-content {
  display: flex;
  flex-direction: column;
  max-width: 870px;
  margin: 0 auto;
}
.cta-heading {
  margin-bottom: 30px;
  text-align: center;
}
.cta-desc {
  margin-bottom: 65px;
  text-align: center;
}
.cta-button {
  padding: 0px 32px;
  height: 56px;
  margin: 0 auto;
}

@media screen and (max-width: 1023.98px) {
  .cta {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767.98px) {
  .cta {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .cta-heading {
    font-size: 32px;
    line-height: 1.5;
  }
}
.footer {
  background-color: #292F3A;
  color: white;
}
.footer-top {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.footer-top .logo {
  color: white;
}
.footer-bottom {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-top: 1px solid rgba(123, 136, 168, 0.3);
}
.footer-s {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-s-item {
  background-color: #4F77FF;
  width: 52px;
  height: 52px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-heading {
  font-size: 22px;
  line-height: 1.4545454545;
  margin-bottom: 20px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}
.footer-link {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
.footer-column {
  flex-shrink: 0;
}
.footer-column:last-child {
  max-width: 370px;
}
.footer .newsletter-desc {
  margin-bottom: 25px;
}
.footer .newsletter-form {
  display: flex;
  height: 48px;
  width: 100%;
  gap: 6px;
}
.footer .newsletter-input {
  all: unset;
  background-color: white;
  border-radius: 5px;
  font-size: 16px;
  padding: 0 18px;
  color: #2D3958;
  flex: 1;
}
.footer .newsletter-button {
  flex-shrink: 0;
  padding: 0 24px;
}
.footer .newsletter-warning {
  margin-top: 15px;
}
@media screen and (max-width: 767.98px) {
  .footer-top {
    padding: 50px 0;
    flex-direction: column;
    gap: 30px;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}

/*# sourceMappingURL=app.css.map */
